@media(max-width: 1450px){
    .footer-sitemap__group{
        width: 200px;
    }
    .footer-sitemap__group{
        flex: unset;
    }
}

@media(max-width: 1270px){
    .footer-sitemap{
        flex-wrap: wrap;
    }
    .thumbnail:not(.thumbnail--wide).thumbnail--featured-wide {
        height: 100%
    }
    .thumbnail:not(.thumbnail--wide) {
        height: 26.4rem
    }
    .player-slider .widget__header {
        text-align: left
    }
}

@media(max-width: 1180px){
    .middle-navigation__item{
        font-size: 15px;
    }
    .footer-trophies__container {
        flex-wrap: wrap;
        height: auto
    }
    .footer-trophies__trophy {
        width: calc(50% - 4.8rem);
        margin: 2.4rem
    }
}

@media(max-width: 1150px){
    .carousel-hero{
        flex-wrap: wrap;
    }
    .hero-tile{
        flex: unset;
        width: 100%;
        height: 50%;
        pointer-events: none;
    }
    .hero-tile__image{
        object-position: top;
    }
    .hero-tile--large{
        width: 100%;
        flex: 1 0 100%;
    }
    .hero-tile--small{
        order: 2;
        width: 50%;
        flex: 1 0 50%;
    }
    .hero-tile__description{
        opacity: 1;
        max-height: unset;
    }
    .hero-tile__title{
        width: 100%;
    }
    .footer__corporate {
        padding-bottom: 1.6rem
    }
}

@media(max-width: 1000px){
    .navigation__logo-container{
        min-width: 22.8rem;
    }
    .search-bar{
        margin-left: -22.8rem;
    }
    .footer-sponsors__main {
        min-height: 14rem
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--nike {
        width: 16%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--rakuten {
        width: 19%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--beko {
        width: 13%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--assistencia-sanitaria, .footer-sponsors__main--one-section .footer-sponsors__sponsor--serveto {
        width: 22%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--serveto svg {
        margin-top: 1%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--lassa {
        width: 18%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--stanley {
        width: 22%
    }
    .footer-sponsors__premium {
        min-height: 13rem
    }
    .thumbnail:not(.thumbnail--wide) {
        height: 36.8rem;
        width: 95%;
        margin: 0 auto 1rem
    }
    .thumbnail:not(.thumbnail--wide).thumbnail--featured-wide {
        height: 100%
    }
    .thumbnail:not(.thumbnail--wide).thumbnail--featured-wide {
        height: 100%
    }
    .col-6-desk {
        width: 50%
    }
}

@media(max-width: 965px){
    .navigation__logo-container{
        min-width: 12.8rem;
    }
    .search-bar{
        margin-left: -12.8rem;
    }
    .news-latest-features__list {
        flex-wrap: wrap
    }
    .player-slider {
        padding: 6rem 0 4.4rem
    }
    .player-slider .widget__header {
        text-align: center
    }
}

@media(max-width: 840px){
    .navigation__logo-container {
        display: none
    }
    .menu__icon{
        display: block;
    }
    .menu__icon._active:before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active:after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__navigation{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: left .3s ease 0s;
        overflow: auto;
    }
    .header__navigation._active{
        left: 0;
    }
    .middle-navigation, .navigation__middle, .middle-navigation__item{
        border: none;
    }
    .middle-navigation__item{
        font-size: 16px;
    }
    .mega-dropdown{
        top: 44px;
    }
    .middle-navigation{
        overflow-y: unset;
    }
    .navigation__core{
        height: 100%;
    }
    .middle-navigation{
        height: unset;
    }
    .navigation__top-mobile{
        width: 100%;
        display: block;
    }
    .main-mobile-navigation__mobile-logo-container{
        display: none !important;
    }
    .top-slim-nav{
        align-items: center;
    }
    .top-slim-nav__social{
        background-color: unset;
    }
    .language-switcher{
        border: none;
        background-color: transparent;
    }
    .language-switcher:hover{
        background-color: transparent;
    }
    .navigation__top{
        display: none;
    }
    .top-slim-nav{
        justify-content: space-between;
    }
    .top-slim-nav__social{
        margin: 0;
    }
    .language-switcher__dropdown {
        position: absolute;
        right: -.1rem;
        background: #fff;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        z-index: 30
    }
    .main-mobile-navigation {
        background: #181733
    }
    .main-mobile-navigation {
        transition: top .3s ease-out;
        top: 0;
        position: relative
    }
    .main-mobile-navigation__mobile-logo-menu-container {
        height: 4.4rem;
        display: flex;
        align-items: center;
        position: relative
    }
    .middle-navigation {
        display: flex;
        flex-direction: column;
    }
    .middle-navigation__item {
        position: relative;
        font-size: 1.4rem;
        color: hsla(0, 0%, 100%, .6);
        padding: 1.5rem .8rem 1.5rem 1.6rem;
        text-transform: uppercase;
        order: 1
    }
    .navigation__search{
        position: relative;
    }
    .search-bar {
        position: absolute;
        top: -28px;
        height: 4.4rem;
        width: 100vw;
        display: flex;
        align-items: center;
        border-radius: 2.2rem;
        background: hsla(0, 0%, 100%, .1);
        border: .1rem solid hsla(0, 0%, 100%, .1);
        padding: 0 1.6rem;
        margin: 0;
        z-index: 1;
        opacity: 1;
        transform: unset;
        transition: unset;
        -webkit-transform: unset;
    }
    .search-bar__cta{
        color: #fff;
    }
    .middle-navigation{
        padding-top: 89px;
        background-color: #181733;
    }
    .user-options{
        display: none;
    }
    .middle-navigation__item--dropdown:hover .middle-navigation__dropdown {
        opacity: 1;
        -webkit-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1)
    }
    .middle-navigation__item--dropdown:hover .middle-navigation__dropdown>li {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    #searchBar{
        display: none;
    }
    .footer-trophies__competition-name {
        font-size: .9rem;
        height: 2.4rem;
        padding: .4rem .8rem;
        width: 100%;
        margin: 0;
        line-height: 1rem;
        text-align: center
    }
    .footer-trophies__competition-type {
        font-size: .8rem;
        line-height: .9rem;
        text-align: center
    }
    .footer-trophies__container {
        flex-wrap: nowrap;
        height: 18.6rem;
        padding: 0
    }
    .footer-trophies__trophy {
        width: calc(25% - .8rem);
        height: 16.8rem;
        margin: .4rem;
        border-radius: .3rem
    }
    .footer-trophies__trophy-count {
        font-size: 3.8rem;
        line-height: 4.6rem;
        text-align: center
    }
    .footer-trophies__trophy-descriptor {
        flex-direction: column;
        justify-content: space-around
    }
    .footer-trophies__trophy-descriptor--champions-league .footer-trophies__trophy-image {
        width: 2.904rem;
        height: 4.4rem
    }
    .footer-trophies__trophy-descriptor--club-world-cup .footer-trophies__trophy-image {
        width: 1.662rem;
        height: 4.4rem
    }
    .footer-trophies__trophy-descriptor--copa-del-rey .footer-trophies__trophy-image {
        width: 2.591rem;
        height: 4.4rem
    }
    .footer-trophies__trophy-descriptor--la-liga .footer-trophies__trophy-image {
        height: 4.4rem;
        width: 3.344rem
    }
    .footer-trophies--academy .footer-trophies__trophy-count {
        margin-right: .8rem
    }
    .footer-trophies--academy .footer-trophies__trophy-image {
        width: 4rem;
        height: 4rem;
        margin-right: 0;
        margin-bottom: .6rem
    }
    .footer-trophies__trophy-text-background {
        top: 1.4rem;
        height: 3.6rem
    }
    .footer-corporate-links__bottom-container {
        flex-direction: column
    }
    .footer-corporate-links__copyright {
        font-size: 1rem;
        line-height: 1.2rem;
        padding-left: .8rem
    }
    .footer-corporate-links__group {
        margin-top: 1.2rem;
        flex-direction: column
    }
    .footer-corporate-links__item {
        padding: .4rem
    }
    .footer-corporate-links__item:after {
        content: none
    }
    .footer:after {
        height: .8rem
    }
    .footer__title {
        font-size: 3.2rem;
        padding: 5rem 0
    }
    .footer__sponsors {
        position: relative
    }
    .footer__sponsors:after {
        content: "";
        display: block;
        position: absolute;
        top: -.8rem;
        left: -100vw;
        width: 200vw;
        height: 2.4rem;
        z-index: 10;
        background: linear-gradient(180deg, rgba(24, 23, 51, 0), #181733)
    }
    .footer-sponsors__container {
        flex-direction: column
    }
    .footer-sponsors__main, .footer-sponsors__premium {
        padding: 0 1.6rem
    }
    .footer-sponsors__main {
        min-height: 14rem
    }
    .footer-sponsors__title {
        width: 100%;
        text-align: center;
        line-height: .2rem;
        height: auto
    }
    .footer-sponsors__title span {
        padding: 0 .8rem;
        position: relative
    }
    .footer-sponsors__title span:after, .footer-sponsors__title span:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        background: #fdc52c;
        width: calc(50vw - 50% - 3.2rem);
        height: .2rem
    }
    .footer-sponsors__title span:before {
        left: calc(-50vw + 50% + 1.6rem)
    }
    .footer-sponsors__title span:after {
        right: calc(-50vw + 50% + 1.6rem)
    }
    .footer-sponsors__sponsors-container {
        margin: 0;
        padding: 2.4rem 0
    }
    .footer-sponsors__link {
        display: block;
        width: 100%
    }
    .footer-sponsors__link-wrapper {
        bottom: -2.4rem;
        top: auto;
        left: 50%;
        width: calc(100% - 3.2rem);
        text-align: center;
        margin: 0 auto;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .footer-sponsors__sponsors-container:before {
        content: none
    }
    .footer-sponsors__main--two-sections .footer-sponsors__sponsor {
        height: 4rem
    }
    .footer-sponsors__main--two-sections .footer-sponsors__sponsor--nike {
        width: 17%
    }
    .footer-sponsors__main--two-sections .footer-sponsors__sponsor--rakuten {
        width: 18%
    }
    .footer-sponsors__main--two-sections .footer-sponsors__sponsor--beko {
        width: 14%
    }
    .footer-sponsors__main--one-section .footer-sponsors--nike {
        width: 22%
    }
    .footer-sponsors__main--one-section .footer-sponsors--rakuten {
        width: 23%
    }
    .footer-sponsors__main--one-section .footer-sponsors--rakuten svg {
        margin-top: -5%
    }
    .footer-sponsors__main--one-section .footer-sponsors--beko {
        width: 17%
    }
    .footer-sponsors__main--one-section .footer-sponsors--beko svg {
        margin-top: 7.5%
    }
    .footer-sponsors__premium {
        min-height: 13rem
    }
    .footer-sponsors__premium--two-sections .footer-sponsors__sponsor {
        height: 4rem
    }
    .footer__corporate {
        padding: 1.6rem 1.6rem 2.4rem
    }
    .marketing-partners {
        flex-wrap: wrap;
        height: auto
    }
    .marketing-partners__title {
        font-size: 1.2rem;
        padding-right: 0;
        border-right: 0;
        flex: 1 0 100%;
        text-align: center
    }
    .marketing-partners__logo-link {
        flex: 1 0 33.3%;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem
    }
    .marketing-partners__logo {
        height: 4rem;
        margin-left: 0
    }
    .marketing-partners__logo--nike {
        width: 5.4rem
    }
    .marketing-partners__logo--rakuten {
        width: 7.5rem
    }
    .marketing-partners__logo--beko {
        width: 5rem
    }
    .news-latest-features {
        padding: 2rem 1.2rem
    }
    .thumbnail:not(.thumbnail--wide) {
        height: auto
    }
    .thumbnail--featured-wide .thumbnail__title {
        margin-bottom: .4rem
    }
    .thumbnail--featured-wide .thumbnail__desc {
        margin: 0
    }
    .widget {
        text-align: center;
        padding: 2rem 1.2rem
    }
    .widget__title {
        font-size: 2.4rem;
        margin-bottom: 1.6rem
    }
    .player-slider {
        width: auto;
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        left: auto;
        right: auto
    }
    .player-slider {
        margin: 0
    }
}

@media (max-width:640px) {
    .thumbnail {
        margin: 0 auto;
        margin-bottom: 1.5rem
    }
    .thumbnail, .thumbnail__default {
        height: auto
    }
    .thumbnail--featured-wide {
        width: 100%
    }
    .thumbnail--featured.thumbnail {
        margin: 0 0 1rem;
        width: 100%;
        overflow: hidden
    }
    .thumbnail--featured-wide .content-tag {
        font-size: 1rem
    }
    .content-tag--left:before {
        margin-right: .4rem;
        vertical-align: middle
    }
    .thumbnail--featured-wide .content-tag:before {
        vertical-align: middle
    }
    .thumbnail--featured .thumbnail__figure:after {
        height: 6rem;
        background-image: linear-gradient(90deg, #154284, #cd122d, #fdc52c);
        -webkit-filter: blur(30px);
        filter: blur(30px);
        border-radius: 50%;
        z-index: 10
    }
    .thumbnail--featured.thumbnail--wide .thumbnail__picture-wrapper:before {
        width: 6rem;
        background-image: linear-gradient(270deg, #154284, #cd122d, #fdc52c);
        -webkit-filter: blur(22px);
        filter: blur(22px);
        border-radius: 50%;
        z-index: 10
    }
    .widget__title {
        margin-bottom: 1.2rem
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) {
        padding: .8rem 0;
        border: none;
        border-bottom: .1rem solid #efefef;
        width: 100%
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured).thumbnail {
        margin: 0;
        height: auto
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__figure {
        display: flex;
        align-items: center
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__picture-wrapper {
        flex: 0 0 15rem
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__caption {
        flex: 1;
        padding: 0 .8rem 0 1.6rem
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__title {
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: left;
        max-height: 3.2rem;
        overflow: hidden;
        max-height: 3.6rem
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail .content-partner, .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__desc {
        display: none
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__meta {
        position: static;
        margin: 0;
        width: 100%;
        margin-top: 2rem;
        font-size: 1.1rem;
        line-height: 1rem
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .content-tag {
        margin-right: .6rem;
        text-align: left;
        flex: unset
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__time {
        vertical-align: middle;
        margin: 0
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__time .icon {
        vertical-align: baseline
    }
    .col-12-phab {
        width: 100%
    }
    .player-slider {
        margin-left: -.8rem;
        margin-right: -.8rem
    }
    .player-slider {
        padding: 1.9rem 0 2.5rem
    }
    .player-slider .widget__title {
        margin-bottom: 1.9rem
    }
}

@media(max-width: 570px){
    .top-slim-social__follow-context{
        display: none;
    }
    .footer-sponsors__premium--two-sections .footer-sponsors__sponsor--nike {
        width: 17%
    }
    .footer-sponsors__main {
        min-height: 14rem
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor {
        height: 4rem
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--nike {
        width: 20%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--rakuten, .footer-sponsors__main--one-section .footer-sponsors__sponsor--stanley {
        width: 24%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--beko {
        width: 16%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--serveto {
        width: 23%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--assistencia-sanitaria {
        width: 25%
    }
    .footer-sponsors__main--one-section .footer-sponsors__sponsor--lassa {
        width: 23%
    }
    .footer-sponsors__premium {
        min-height: 13rem
    }
    .footer-sponsors__premium--one-section .footer-sponsors__sponsor {
        height: 4rem
    }
    .footer-sitemap{
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding-top: 2.25rem;
    }
    .footer-sitemap__nav-list {
        margin-top: 0rem;
    }
    .footer-sitemap__group{
        margin-bottom: 15px;
    }
}

@media(max-width: 510px){
    .top-slim-social{
        width: 200px;
        margin-left: 10px;
    }
    .top-slim-nav__social{
        display: none;
    }
    .top-slim-nav{
        justify-content: flex-end;
    }
    .top-slim-nav__social__mobile{
        display: block;
        position: absolute;
        top: 11px;
        right: 7px;
    }
    .top-slim-social__follow-context{
        display: block;
    }
    .top-slim-social__item--title{
        height: unset;
    }
    .top-slim-social{
        width: 29.6rem;
    }
    .carousel-hero{
        flex-direction: column;
        flex-wrap: unset;
    }
    .hero-tile--large{
        flex: unset;
    }
    .hero-tile--small{
        width: 100%;
        flex: unset;
    }
    .hero-tile__image{
        object-position: center;
    }
    .footer-sponsors__main .footer-sponsors__sponsors-container {
        padding: 0
    }
    .footer-sponsors__main {
        min-height: 9rem
    }
    .news-latest-features__list {
        margin: 0;
        flex-wrap: wrap
    }
    .news-latest-features__list .thumbnail:first-child {
        margin-top: 0;
        padding-top: 0
    }
}

@media(max-width: 480px){
    .widget__title {
        font-size: 1.8rem
    }
    .thumbnail--mobile-compact:not(.thumbnail--featured) .thumbnail__picture-wrapper {
        flex: 0 0 10rem
    }
}

@media (max-width:400px) {
    .footer-trophies__competition-name {
        font-size: .8rem;
        padding: .1rem .4rem;
        line-height: .9rem
    }
    .player-slider:before {
        top: 0;
        background-position-y: bottom;
        background-repeat-y: no-repeat;
        background-image: urltest(../i/bg-elements/triangles-mobile.png)
    }
}

@media(max-width: 350px){
    .top-slim-social__item--title{
        display: none;
    }
    .top-slim-social {
        width: 21.6rem;
    }
}
